@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 0, 180, 100;
	--contrast-primary: 255, 255, 255;
	--secondary: 24, 24, 24;
	--contrast-secondary: 255, 255, 255;
	--danger: 222, 66, 66;
	--contrast-danger: 255, 255, 255;
}
